@model IEnumerable<CloudPayments.Models.Product>


<ul class="list-unstyled">
    @foreach (var product in ViewData.Model)
    {
        <li class="media">
            <img data-src="holder.js/64x64" class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;">
            <div class="media-body">
                <h5 class="">@product.Title</h5>
                <p>@product.Price @product.Currency</p>
            </div>
        </li>
    }
</ul>
